<div class="modal fade" id="{{mId}}" tabindex="-1" aria-labelledby="evideoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!--<div class="modal-header">
        <h5 class="modal-title" id="videoModalLabel">Video Player</h5>
        <button type="button" class="btn-close" (click)="modalService.close();" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315"
                src="{{videoSrc}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                picture-in-picture; web-share" allowfullscreen></iframe>
      </div>-->
      <ng-content></ng-content>
    </div>

  </div>
</div>
