  <div class="row g-0">
    <div *ngFor="let cItem of cardList; index as j" class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch">
      <div class="card {{headerColorClass}} {{headerTextColor}}">
        <div class="card-header">
          {{ cItem.heading }}
        </div>
        <div class="card-body bg-white">
          <button class="btn btn-outline-light maxHeight" (click)="openItem(cItem)">
            <img [src]="cItem.imgSrc" class="card-img-top mb-2" alt="{{ cItem.imgAlt }}">
          </button>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-light me-2" (click)="openItem(cItem)">
            More Info
          </button>
        </div>
      </div>
    </div>
  </div>

  <modal
    [isOpen]="isModalOpen"
    [item]="selectedItem"
    (closed)="closeModal()">
  </modal>

