<section class="contact bg-darker pt-5">
  <div class="container">
    <div class="row text-white">
      <div class="col my-5">
        <h2 class="ms-3 featurette-heading">Contact</h2>
        <hr class="title-divider" />
        <div class="card">
          <div class="card-header bg-blue-deep text-light">
            Contact PryzeMedia
          </div>
          <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div class="card-body">

              <!-- Name input -->
              <div class="mb-3">
                <label class="form-label" for="name">Name:</label>
                <input class="form-control" type="text" id="name" [(ngModel)]="user.name" formControlName="name" name="name" required>

              </div>

              <!-- Email address input -->
              <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="email" id="email" [(ngModel)]="user.email" formControlName="email" name="email" required>
              </div>

              <!-- Message input -->
              <div class="mb-3">
                <label class="form-label" for="message">Message:</label>
                <textarea class="form-control" id="message" [(ngModel)]="user.message"
                          formControlName="message" name="message" rows="4" required></textarea>
              </div>

              <!-- Form submit button
              <div class="d-grid">

              </div>-->


          </div>
            <div class="card-footer bg-blue-deep">
              <button class="btn btn-outline-light" type="submit">Submit</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
