<div>
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-6">
          <h1>Welcome to PryzeMedia</h1>
          <h2>Crafting Exceptional Digital Experiences</h2>
          <p>As a seasoned web developer with over a decade of experience,
            I specialize in creating dynamic and user-friendly websites and
            applications that captivate and engage users. Additionally, I have
            a passion for producing compelling videos including animations and
            illustrations that bring creativity to life.</p>
        </div>

      </div>
    </div>
  </section>
</div>

